.right {
  color: green;
}

.wrong {
  color: red;
}

div {
  float: left;
  position: relative;
}


.pGame {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: 150px;
  margin-left: -185px;
}

a:link {
  text-decoration: none;
  color: cyan;
}

a:visited {
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: none;
  color: hotpink;
}

img {
  vertical-align: bottom;
  width: 250px;
}

h1 {
  color: red;
  font-family: verdana;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -350px;
}

.intro {
  color: blue;
  font-family: verdana;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: 1px;
  margin-left: -250px;
}
