.right {
  color: green;
}

.wrong {
  color: red;
}

a:link {
  text-decoration: none;
  color: cyan;
}

a:visited {
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: none;
  color: hotpink;
}
